// === colors ===
:root {
  scroll-behavior: smooth;

  // accent colors
  --vp-c-accent: #fc5207;
  --vp-c-accent-bg: #fc5207;
  --vp-c-accent-hover: #fc5207;

  --badge-c-tip-text: #fc5207;
  --badge-c-tip-bg: #fc51072c;

  --content-width: 1020px;
}
