# ----------------------
# GTM configuration file
# ----------------------
#
# This file must be placed on gtm working directory 
# specified by -D command line option of gtm or gtm_ctl.  The
# configuration file name must be "gtm.conf"
#
#
# This file consists of lines of the form
#
#  name = value
#
# (The "=" is optional.) Whitespace may be used.   Comments are
# introduced with "#" anywhere on a line.  The complete list of
# parameter names and allowed values can be found in the
# Postgres-XC documentation.
#
# The commented-out settings shown in this file represent the default
# values.
#
# Re-commenting a setting is NOT sufficient to revert it to the default
# value.
#
# You need to restart the server.

#------------------------------------------------------------------------------
# GENERAL PARAMETERS
#------------------------------------------------------------------------------
#nodename = ''				# Specifies the node name.
					# (changes requires restart)
#listen_addresses = '*'			# Listen addresses of this GTM.
					# (changes requires restart)
#port = 6666				# Port number of this GTM.
					# (changes requires restart)

#startup = ACT				# Start mode. ACT/STANDBY.

#gtm_cluster_read_only = false # Nodes connected with this gtm will be readonly 
                               #  (changes requires restart)

#------------------------------------------------------------------------------
# GTM STANDBY PARAMETERS
#------------------------------------------------------------------------------
#Those parameters are effective when GTM is activated as a standby server
#active_host = ''			# Listen address of active GTM.
					# (changes requires restart)
#active_port =				# Port number of active GTM.
					# (changes requires restart)

#---------------------------------------
# OTHER OPTIONS
#---------------------------------------
#keepalives_idle = 0			# Keepalives_idle parameter.
#keepalives_interval = 0		# Keepalives_interval parameter.
#keepalives_count = 0			# Keepalives_count internal parameter.
#log_file = 'gtm.log'			# Log file name
#log_min_messages = WARNING		# log_min_messages.  Default WARNING.
				  	# Valid value: DEBUG, DEBUG5, DEBUG4, DEBUG3,
					# DEBUG2, DEBUG1, INFO, NOTICE, WARNING,
					# ERROR, LOG, FATAL, PANIC
					
#---------------------------------------
# XLOG OPTIONS
#---------------------------------------		
#wal_writer_delay = 100     # Wal writer flush xlog delay
#checkpoint_interval  = 30  # Checkpointer checkpoints interval

#max_reserved_wal_number = 0    # Max number of reserved wal to reuse to improve effciency
#max_wal_sender = 3             # Max number of directly connected slaves
#synchronous_standby_names = '' # comma split names to indicate which slaves use synchronous sync or any num (slave_1,slave_2,...,slave_n) to indicate the number of slaves needed to flush before reply to client

#archive_command = ''      # Gtm uses this command to archive xlog
#archive_mode = 'off' # Set to on if you want to use archive

#---------------------------------------
# GTS OPTIONS
#---------------------------------------	
#gtm_freeze_time_limit = 36500 #refuse to start gtm before GTS has n days left,default 100 years
#gtm_startup_gts_delta = 300   #Add gtm_startup_gts_delta seconds to GTS when started
#gtm_startup_gts_set   = ''    #Force start GTM with this GTS

#---------------------------------------
# DEBUG OPTIONS
#---------------------------------------
#enable_gtm_xlog_debug = false # log xlog related message
#enable_gtm_debug = false      # log gtm related message
#enable_gtm_sequence_debug = false # log sequence related message