#-----------------------------
# GTM Proxy configuration file
#-----------------------------
#
# This file must be placed on gtm working directory 
# specified by -D command line option of gtm_proxy or gtm_ctl.
# The configuration file name must be "gtm_proxy.conf"
#
#
# This file consists of lines of the form
#
#  name = value
#
# (The "=" is optional.) Whitespace may be used.   Comments are
# introduced with "#" anywhere on a line.  The complete list of
# parameter names and allowed values can be found in the
# Postgres-XC documentation.
#
# The commented-out settings shown in this file represent the default
# values.
#
# Re-commenting a setting is NOT sufficient to revert it to the default
# value.
#
# You need to restart the server.

#------------------------------------------------------------------------------
# GENERAL PARAMETERS
#------------------------------------------------------------------------------
nodename = ''					# Specifies the node name.
								# (changes requires restart)
listen_addresses = '*'			# Listen addresses of this GTM.
								# (changes requires restart)
port = 6666					    # Port number of this GTM.
								# (changes requires restart)

#------------------------------------------------------------------------------
# GTM PROXY PARAMETERS
#------------------------------------------------------------------------------
#worker_threads = 1				# Number of the worker thread of this
								# GTM proxy
								# (changes requires restart)

#------------------------------------------------------------------------------
# GTM CONNECTION PARAMETERS
#------------------------------------------------------------------------------
# Those parameters are used to connect to a GTM server
gtm_host = '127.0.0.1' 					# Listen address of the active GTM.
								# (changes requires restart)
gtm_port = 50001				# Port number of the active GTM.
								# (changes requires restart)

#------------------------------------------------------------------------------
# Behavior at GTM communication error
#------------------------------------------------------------------------------
#gtm_connect_retry_interval = 0	# How long (in secs) to wait until the next
								# retry to connect to GTM.
#
#
#------------------------------------------------------------------------------
# Other options
#------------------------------------------------------------------------------
#keepalives_idle = 0			# Keepalives_idle parameter.
#keepalives_interval = 0		# Keepalives_interval parameter.
#keepalives_count = 0			# Keepalives_count internal parameter.
log_file = 'gtm_proxy.log'		# Log file name
log_min_messages = LOG		    # log_min_messages.  Default WARNING.
							  	# Valid value: DEBUG, DEBUG5, DEBUG4, DEBUG3,
								# DEBUG2, DEBUG1, INFO, NOTICE, WARNING,
								# ERROR, LOG, FATAL, PANIC.

