# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# build products
pgreplay
pgreplay.exe
Makefile
# config.h
config.log
config.status

# test subdirectory
test/

# other versioning systems
.svn
CVS

# M4 cache
autom4te.cache/
.vscode
devtest