#------------------------------------------------------------------------------
# Common Parameters for PostgreSQL
#------------------------------------------------------------------------------
archive_mode = 'on'
autovacuum_analyze_scale_factor = '0.05'
autovacuum_freeze_max_age = '500000000'
autovacuum_multixact_freeze_max_age = '700000000'
autovacuum_naptime = '30'
autovacuum_vacuum_cost_delay = '0'
autovacuum_vacuum_cost_limit = '10000'
autovacuum_vacuum_scale_factor = '0.02'
bgwriter_delay = '10'
bgwriter_flush_after = '128'
bgwriter_lru_maxpages = '1000'
bgwriter_lru_multiplier = '10'
checkpoint_flush_after = '256'
checkpoint_timeout = '30'
default_toast_compression = 'lz4'
effective_io_concurrency = '0'
enable_partitionwise_aggregate = 'on'
enable_partitionwise_join = 'on'
extra_float_digits = '0'
full_page_writes = 'off'
hot_standby_feedback = 'on'
huge_pages = 'on'
idle_in_transaction_session_timeout = '3600000'
idle_session_timeout = '86400000'
jit = 'off'
listen_addresses = '*'
log_autovacuum_min_duration = '0'
log_file_mode = '0600'
logging_collector = 'on'
log_lock_waits = 'on'
log_min_duration_statement = '5000'
log_rotation_age = '0'
log_rotation_size = '131072'
log_statement = 'ddl'
log_temp_files = '100000'
log_timezone = 'UTC'
log_truncate_on_rotation = 'on'
max_files_per_process = '10000'
max_logical_replication_workers = '32'
max_prepared_transactions = '800'
max_replication_slots = '64'
max_stack_depth = '6144'
max_wal_senders = '64'
max_worker_processes = '256'
random_page_cost = '1.1'
shared_preload_libraries = 'polar_vfs,polar_worker,pg_stat_statements,auth_delay,auto_explain'
synchronous_commit = 'off'
tcp_keepalives_count = '10'
tcp_keepalives_idle = '60'
tcp_keepalives_interval = '10'
track_functions = 'pl'
track_io_timing = 'on'
unix_socket_directories = '.'
unix_socket_permissions = '0700'
vacuum_cost_limit = '10000'
vacuum_cost_page_miss = '10'
vacuum_freeze_table_age = '200000000'
vacuum_multixact_freeze_table_age = '200000000'
wal_receiver_timeout = '30000'
wal_sender_timeout = '300000'
wal_writer_delay = '10'
wal_writer_flush_after = '64'
#------------------------------------------------------------------------------
# Common Parameters for PolarDB
#------------------------------------------------------------------------------
polar_force_unlogged_to_logged_table = on
polar_max_non_super_wal_snd = 32
polar_max_super_conns = 100
polar_enable_output_search_path_to_log = on
